<header id="banner">
  <div id="header">
    <div class="header-navigation">
      <div id="shared-nav-header"></div>
    </div>
    <div class="header-sticky-container">
      <div class="header-logo">
        <h2><a href="https://calumst.github.io">cs.dev</a></h2>
      </div>
      <div class="header-search">
        <h2><a href="/">Engineering Blog</a></h2>
      </div>
    </div>
  </div>
</header>
<div class="header-hamburger">
  <button class="cmn-toggle-switch cmn-toggle-switch__htx">
    <span>toggle menu</span>
  </button>
</div>