  @font-face {
      font-family: "Didact Gothic Regular";
      src: url('../fonts/didact_gothic/DidactGothic-Regular.ttf');
  }

  @font-face {
      font-family: "Space Mono Regular";
      src: url('../fonts/space_mono/SpaceMono-Regular.ttf');
  }

  h1 {
      text-transform: uppercase;
  }

  body {
      font-family: "Didact Gothic Regular";
      color: black;
  }

  .side {
    font-family: "Didact Gothic Regular";
    color: white;
    background-color: black;
    float: right;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;
    writing-mode: vertical-lr;
  }