/* fonts */
@font-face {
    font-family: "Didact Gothic Regular";
    src: url('../fonts/didact_gothic/DidactGothic-Regular.ttf');
}

@font-face {
    font-family: "Space Mono Regular";
    src: url('../fonts/space_mono/SpaceMono-Regular.ttf');
}

h1 {
    text-transform: uppercase;
}

body {
    font-family: "Didact Gothic Regular";
    color: black;
}

.navigation.column.body {
    font-family: "Didact Gothic Regular";
    color: rgb(254, 254, 254);
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
}

/* create side panel for navigation */
.navigation {
    height:fit-content;
    width: 20%;
    z-index: 1;
    top: 0;
    left: 0;
    background: #000000;
    writing-mode: sideways-lr;
    padding: 1em;
    transition: 0.1s;
    color: #ffffff;
}

/* create main panel */
.main {
    display: flex;
    flex-direction: row;
}